#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ 
override_dh_auto_build:
	make EIGEN_INC=/usr/include/eigen3 BOOST_INC=/usr/include/boost BOOST_LIB=/usr/lib

